# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
csv_file = "../output_data/cities.csv"
weather_csv_df = pd.read_csv(csv_file)

#Drop any rows will null values

# I had 645 ...after dropped the blanks I have 592 cities
weather_vacas = weather_csv_df.drop(columns=["Unnamed: 0"])
weather_vacas

,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temperature,Wind Speed
0,Berdigestyakh,RU,100,94,62.0989,126.6992,-6.72,5.23
1,Guerrero Negro,MX,100,51,27.9769,-114.0611,63.79,2.26
2,San Francisco,US,0,53,37.7749,-122.4194,59.14,1.01
3,Dewas,IN,0,33,22.9667,76.0667,60.94,6.71
4,Ust-Nera,RU,100,91,64.5667,143.2000,-17.19,1.95
...,...,...,...,...,...,...,...,...
587,Kilis,TR,69,85,36.7161,37.1150,32.23,3.47
588,Nalus,PH,92,71,6.0122,124.5853,84.34,3.91
589,Bonfim,BR,89,64,3.0833,-59.9500,78.17,10.85
590,Port Macquarie,AU,41,67,-31.4333,152.9167,82.36,12.15
591,Perbaungan,ID,58,61,3.5679,98.9560,89.71,6.42

In [4]:
weather_vacas_df = pd.DataFrame(weather_vacas)
weather_vacas_df.head()

,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temperature,Wind Speed
0,Berdigestyakh,RU,100,94,62.0989,126.6992,-6.72,5.23
1,Guerrero Negro,MX,100,51,27.9769,-114.0611,63.79,2.26
2,San Francisco,US,0,53,37.7749,-122.4194,59.14,1.01
3,Dewas,IN,0,33,22.9667,76.0667,60.94,6.71
4,Ust-Nera,RU,100,91,64.5667,143.2000,-17.19,1.95

In [5]:
weather_vacas.columns

Index(['City', 'Country', 'Cloudiness', 'Humidity', 'Lat', 'Lng',
       'Max Temperature', 'Wind Speed'],
      dtype='object')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
#Configure gmaps.
gmaps.configure(api_key= g_key)

#Use the Lat and Lng as locations and Humidity as the weight.

locations = weather_vacas_df[["Lat", "Lng"]]

humidity = weather_vacas_df["Humidity"]

fig = gmaps.figure()

heat_map_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=50, point_radius=1)

fig.add_layer(heat_map_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
weather_vacas_reduced_df = weather_vacas.loc[:,['City', 'Country', 'Cloudiness', 'Max Temperature', 'Wind Speed']]
weather_vacas_reduced_df

               City Country  Cloudiness  Max Temperature  Wind Speed
0     Berdigestyakh      RU         100            -6.72        5.23
1    Guerrero Negro      MX         100            63.79        2.26
2     San Francisco      US           0            59.14        1.01
3             Dewas      IN           0            60.94        6.71
4          Ust-Nera      RU         100           -17.19        1.95
..              ...     ...         ...              ...         ...
587           Kilis      TR          69            32.23        3.47
588           Nalus      PH          92            84.34        3.91
589          Bonfim      BR          89            78.17       10.85
590  Port Macquarie      AU          41            82.36       12.15
591      Perbaungan      ID          58            89.71        6.42

[592 rows x 5 columns]

In [8]:
#Narrow down the cities to fit THE BEST weather conditions.

weather_vacas_reduced_df = weather_vacas_df

weather_vacas_reduced_df = weather_vacas_reduced_df.loc[(weather_vacas_reduced_df["Max Temperature"] >=70)\
                                                        & (weather_vacas_reduced_df["Max Temperature"] <= 80)]
weather_vacas_reduced_df = weather_vacas_reduced_df.loc[(weather_vacas_reduced_df["Wind Speed"] < 10)]
weather_vacas_reduced_df = weather_vacas_reduced_df.loc[(weather_vacas_reduced_df["Cloudiness"] == 0)]

weather_vacas_reduced_df = weather_vacas_reduced_df.dropna()
weather_vacas_reduced_df

,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temperature,Wind Speed
5,Kapaa,US,0,65,22.0752,-159.3190,73.72,0.00
51,Porto Velho,BR,0,94,-8.7619,-63.9039,75.25,2.30
132,Puerto Escondido,MX,0,73,15.8500,-97.0667,75.85,4.12
181,Beira,MZ,0,94,-19.8436,34.8389,77.09,4.61
282,Bodden Town,KY,0,74,19.2833,-81.2500,78.80,1.99
288,Rafaela,AR,0,62,-31.2503,-61.4867,71.01,5.46
330,Lázaro Cárdenas,MX,0,72,17.9583,-102.2000,77.09,6.22
479,Acapulco de Juárez,MX,0,78,16.8634,-99.8901,76.78,3.80

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
#Store into variable named hotel_df
hotel_df = weather_vacas_reduced_df

# Add a "Hotel Name" column to the DataFrame.

hotel_df["Hotel Name"] = ""

hotel_df

,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temperature,Wind Speed,Hotel Name
5,Kapaa,US,0,65,22.0752,-159.3190,73.72,0.00,
51,Porto Velho,BR,0,94,-8.7619,-63.9039,75.25,2.30,
132,Puerto Escondido,MX,0,73,15.8500,-97.0667,75.85,4.12,
181,Beira,MZ,0,94,-19.8436,34.8389,77.09,4.61,
282,Bodden Town,KY,0,74,19.2833,-81.2500,78.80,1.99,
288,Rafaela,AR,0,62,-31.2503,-61.4867,71.01,5.46,
330,Lázaro Cárdenas,MX,0,72,17.9583,-102.2000,77.09,6.22,
479,Acapulco de Juárez,MX,0,78,16.8634,-99.8901,76.78,3.80,

In [10]:
# Set parameters to search for hotels with 5000 meters.
# params dictionary to update each iteration


hotel_name = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotels",
    "key": "AIzaSyAEZ22V0jrqvN1Gvk1x_RvMag_D0CQwrOc"
}

# Use the lat/lng we recovered to identify hotels

for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # make request and print url
    name_address = requests.get(base_url, params = params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")
hotel_df

,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temperature,Wind Speed,Hotel Name
5,Kapaa,US,0,65,22.0752,-159.3190,73.72,0.00,Kauai Shores Hotel
51,Porto Velho,BR,0,94,-8.7619,-63.9039,75.25,2.30,Hotel Slaviero Essential Porto Velho
132,Puerto Escondido,MX,0,73,15.8500,-97.0667,75.85,4.12,Posada Real Puerto Escondido
181,Beira,MZ,0,94,-19.8436,34.8389,77.09,4.61,Beira Terrace Hotel
282,Bodden Town,KY,0,74,19.2833,-81.2500,78.80,1.99,Sea Palm Villas
288,Rafaela,AR,0,62,-31.2503,-61.4867,71.01,5.46,Amérian Rafaela Hotel
330,Lázaro Cárdenas,MX,0,72,17.9583,-102.2000,77.09,6.22,Hotel de Casablanca
479,Acapulco de Juárez,MX,0,78,16.8634,-99.8901,76.78,3.80,Hotel Krystal Beach Acapulco

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map

figure_layout = {
    'width': '1000px',
    'height': '550px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(border='1px solid black', height='550px', margin='0 auto 0 auto', padding='1px', wi…